attrs==20.1.0
beautifulsoup4==4.9.0
certifi==2020.4.5.1
chardet==3.0.4
coverage==5.2.1
flake8==3.8.3
fuzzywuzzy==0.18.0
idna==2.9
iniconfig==1.0.1
mccabe==0.6.1
more-itertools==8.4.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
pytest==6.0.1
pytest-cov==2.10.1
python-Levenshtein==0.12.0
requests==2.23.0
six==1.15.0
soupsieve==2.0
toml==0.10.1
urllib3==1.25.9
xlrd==1.2.0
XlsxWriter==1.2.8
